*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
.bsp
*~
.DS_Store
.cache
.classpath
.generated-mima*
.idea/
.idea_modules/
.scala_dependencies
.settings
/lib/
build/*.jar
dev/apache-maven*
dev/scala*
dev/zinc*
cache
checkpoint
conf/*.cmd
conf/*.conf
conf/*.properties
conf/*.sh
conf/*.xml
conf/java-opts
dependency-reduced-pom.xml
derby.log
dev/create-release/*final
dev/create-release/*txt
dev/pr-deps/
dist/
docs/_site
docs/api
sql/docs
sql/site
lib_managed/
lint-r-report.log
log/
logs/
out/
reports/
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
spark-*-bin-*.tgz
spark-tests.log
src_managed/
streaming-tests.log
**/target/
unit-tests.log
work/
docs/.jekyll-metadata

# For Hive
TempStatsStore/
metastore/
metastore_db/
sql/hive-thriftserver/test_warehouses
warehouse/
spark-warehouse/

# For SBT
.jvmopts

# For Antlr
**/antlr4/imports
